<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CSWebMiner" path="/miner" verb="*" type="SCVProxy.CSWebMiner.MinerHandler, SCVProxy.CSWebMiner"/>
    </handlers>
  </system.webServer>
</configuration>
