<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MakeCertFileName" value="makecert.exe" />
    <add key="ListenAddress" value="127.0.0.1:1000"/>
    <!--<add key="ProxyAddress" value="127.0.0.1:8888"/>-->
    <add key="MinerType" value="WebMiner"/>
    <add key="WebMinerUrl" value="https://pxy.apphb.com/miner|https://pxy-us.apphb.com/miner" />
  </appSettings>
</configuration>