<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CARootCertFileName" value=".\CA\Root\LoyeCA.pfx"/>
    <add key="CARootCertPWDFileName" value=".\CA\Root\LoyeCA.pwd"/>
    <add key="CACertsPath" value=".\CA\Certs\"/>
    <add key="MakeCertFileName" value=".\CA\makecert.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
